// Specific CSS for your home-page
.container-slider {
  height: 100vh;
  width: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  scroll-snap-align: center;
}

.slider:nth-child(1){background: white;}
.slider:nth-child(2){background: #85586F;}
.slider:nth-child(3){background: #B8B5FF;}
.slider:nth-child(4){background: #B7D3DF;}
.slider:nth-child(5){background: #D800A6;}

/////////////////////////////////////////  Slide 1 ////////////////////////////////////////

.text-title {
  margin: 50px;
  margin-bottom: 400px;
  text-align: justify;
  width: 50%;
}

.img-avatar {
  width: 50%;
}

.img-profile {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  object-fit: cover;
}
