// Specific CSS for your home-page
.container-slider {
  height: 100vh;
  width: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll
}

.slider {
  background-color:#efe4df ;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  scroll-snap-align: center;
}

//.slider:nth-child(1){background: white;}


/////////////////////////////////////////  Slide 1 ////////////////////////////////////////
