// Specific CSS for your home-page
.container-slider {
  height: 100vh;
  width: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll
}

.slider {
  background-color:#efe4df ;
  //display: flex;
  //justify-content: center;
  //align-items: center;
  height: 100vh;
  scroll-snap-align: center;
}

//.slider:nth-child(1){background: white;}

/////////////////////////////////////////  Slide 1 ////////////////////////////////////////
.first-title {
  position: relative;
  top: 40%;
  left: 10%;
  h1 {
    font-family: 'Newsreader', serif;
    font-size: 90px;
  }
}

.second-title {
  position: relative;
  top: 36%;
  left: 30%;
  h1 {
    font-family: 'Newsreader', serif;
    font-size: 90px;
  }
}

.name {
  position: relative;
  top: 30%;
  left: 75%;
  margin-top: 25px;
  p {
    font-size: 25px;
    font-weight: 300;
    letter-spacing: .2rem;
  }
}
/////////////////////////////////////////  Slide 2 ////////////////////////////////////////
.paragraphe-style {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  position: relative;
  bottom: 100px;
  //margin-top: 15%;

}

.row {

  width: 30%;
  height: 300px;
  padding: 20px;
  margin: 5px;
  margin-top: 15%;
    p {
      text-align: justify;
      font-size: 14px;
    }
}

.slider-two-title {
  height: 50%;
  padding-top: 20%;
  padding-left: 40px;
  //margin-top: 10px;
  h1 {
    font-family: 'Newsreader', serif;
    font-size: 90px;
  }
}

/////////////////////////////////////////  Slide 3 & 4  ////////////////////////////////////////
.portfolio-title {
  height: 35%;
  padding-top: 10%;
  padding-left: 40px;
  h1 {
    font-family: 'Newsreader', serif;
    font-size: 90px;
  }
}

.project-description {
  padding-left:40px;
  padding-right: 200px;
    p {
      font-size: 14px;
      text-align: justify;
    }
}

.button {
  position: relative;
  left: 75%;
  top: 30%;
}

/////////////////////////////////////////  Slide 5 ////////////////////////////////////////
.apropos-text {
  width: 40%;
  height: 70%;
  padding-left:100px;
  //padding-right: 200px;
    p {
      font-size: 14px;
      text-align: justify;
    }
}

.image-profil {
  //border-radius: 50%;
  width: 350px;
  height: 290px;
  object-fit: cover;
  //margin-left: 10%;
  //margin-bottom: 50%;
}

.pictures{
  margin-left: 15%;
}

.apropos-flexbox {
  display: flex;
  margin-top: 7%;

}

/////////////////////////////////////////  Slide 6 ////////////////////////////////////////
.box-form {
  background-color: #F8EDE3;
  width: 70%;
  height: 60%;
  margin-left: 15%;
  padding: 3%;
}

.label-margin {
  margin-right: 55%;
  margin-bottom: 1%;
}

.input-box {
  font-size: 15px;
}

/////////////////////////////////////////  Slide 7 ////////////////////////////////////////
.number-git {
  width: 50%;
  height: 8%;
  //margin: 10%;
  margin-left: 30%;
  margin-top: 5%;
}

.mail-link {
  width: 50%;
  height: 20%;
  //margin: 10%;
  margin-left: 30%;
  color: black;
    a {
      font-family: 'Newsreader', serif;
      font-size: 18px;
      color: black;
    }
    :hover{
    color: #AC7D88;
  }
}

.number {
  width: 50%;
  height: 50%;
  //border: solid;

      color: black;
      font-family: 'Newsreader', serif;
      font-size: 18px;

}

.git {
  width: 50%;
  height: 50%;
  //border: solid;
    a {
      text-decoration:none;
      color: black;
      font-family: 'Newsreader', serif;
      font-size: 18px;
    }
      :hover {
      color: #AC7D88;
      }
}

.mail {
  width: 50%;
  height: 50%;
  //border: solid;
}

.link {
  width: 50%;
  height: 50%;
  //border: solid;
    a {
      font-family: 'Newsreader', serif;
      font-size: 18px;
      text-decoration:none;
      color: black;
    }
      :hover {
      color: #AC7D88;
      }

}

.row-bye {
  width: 100%;
  height: 20%;
  margin-left: 78%;
  margin-top: 5%;
  h1 {
      font-size: 90px;
      font-family: 'Alkalami', serif;
      font-style: italic;
    }
}
