<%= render "shared/navbar" %>
<div class="container-slider">
  <div class="slider">
    <div class="row d-flex">
      <div class="text-title">
        <h1>Bienvenue c'est Lydia</h1>
        <h6>coucou je raconte ma vie, Lorem ipsum dolor sit amet. Non laudantium nulla non quis velit sed voluptatem incidunt distinctio molestias aut eligendi possimus. Et aliquam laboriosam aut dolores ut vero excepturi ut rerum molestiae et deserunt saepe!
        Possimus eius hic nisi sint quo expedita quam et voluptatem aliquid. Et fugit explicabo et consectetur nulla ea minima nulla ab facilis nulla ab consequatur praesentium in quos soluta.</h6>
      </div>
      <div class="img-avatar">
        <h2>img</h2>
      </div>
    </div>
  </div>
  <div class="slider">
    <h2>slide</h2>
  </div>
  <div class="slider">
    <h2>slide</h2>
  </div>
  <div class="slider">
    <h2>slide</h2>
  </div>
  <div class="slider">
    <h2>slide</h2>
  </div>
</div>
