<div class="container-slider">
<!-- Home Page -->
  <div class="slider">
    <div class="row">
      <h1>DEVELOPEUSE</h1>
    </div>
    <div class="row">
      <H1>WEB FULLSTACK</H1>
    </div>
    <div class="row">
      <p>Lydia Soula</p>
    </div>
  </div>
<!-- Pourquoi moi ?  -->
  <div class="slider">
    <h2>slide</h2>
  </div>
<!-- Mes réalisations  -->
  <div class="slider">
    <h2>slide</h2>
  </div>
<!-- A propos de moi  -->
  <div class="slider">
    <h2>slide</h2>
  </div>
<!-- Contact  -->
  <div class="slider">
    <h2>slide</h2>
  </div>

</div>
