<div class="container-slider">
  <div class="slider">
    <h2>slide</h2>
  </div>
  <div class="slider">
    <h2>slide</h2>
  </div>
  <div class="slider">
    <h2>slide</h2>
  </div>
  <div class="slider">
    <h2>slide</h2>
  </div>
  <div class="slider">
    <h2>slide</h2>
  </div>
</div>
