<%= render "shared/navbar" %>
<div class="container-slider">
  <div class="slider">
    <div class="row d-flex">
      <div class="text-title">
        <h1 class="mb-0">Lydia Soula</h1>
        <p>Développeuse web full stack</p>
      </div>
      <div class="img-avatar">
        <%#=image_tag "https://res.cloudinary.com/dsc1uchot/image/upload/v1664433594/Portfolio/LeWagon_DDay_560_561_by_BenoitBillard-106_WEB_zbf4kh.jpg", class: 'img-profile' %>
      </div>
    </div>
  </div>
  <div class="slider">
    <h2>slide</h2>
  </div>
  <div class="slider">
    <h2>slide</h2>
  </div>
  <div class="slider">
    <h2>slide</h2>
  </div>
  <div class="slider">
    <h2>slide</h2>
  </div>
</div>
