<%= render "shared/navbar" %>
<div class="container-home">
  <div class="slider">
    <h6>slide 1</h6>
  </div>
  <div class="slider">
    <h6>slide 2</h6>
  </div>
  <div class="slider">
    <h6>slide 3</h6>
  </div>
  <div class="slider">
    <h6>slide 4</h6>
  </div>
  <div class="slider">
    <h6>slide 5</h6>
  </div>
</div>
