<%= render "shared/navbar" %>
<div class="container-slider">
  <div class="slider">
    <div class="row d-flex">
      <div class="text-title">
        <h1>Bienvenue c'est Lydia</h1>
        <h6 class="mt-3">coucou je raconte ma vie, Lorem ipsum dolor sit amet. Non laudantium nulla non quis velit sed voluptatem incidunt distinctio molestias aut eligendi possimus. Et aliquam laboriosam aut dolores ut vero excepturi ut rerum molestiae et deserunt saepe!</h6>
      </div>
      <div class="img-avatar">
        <%#=image_tag "https://res.cloudinary.com/dsc1uchot/image/upload/v1664433594/Portfolio/LeWagon_DDay_560_561_by_BenoitBillard-106_WEB_zbf4kh.jpg", class: 'img-profile' %>
      </div>
    </div>
  </div>
  <div class="slider">
    <h2>slide</h2>
  </div>
  <div class="slider">
    <h2>slide</h2>
  </div>
  <div class="slider">
    <h2>slide</h2>
  </div>
  <div class="slider">
    <h2>slide</h2>
  </div>
</div>
