<%= render "shared/navbar" %>
<div class="container-slider">
  <div class="slider">
    <div class="row d-flex">
      <div class="text-title">
        <h2>text</h2>
      </div>
      <div class="img-avatar">
        <h2>img</h2>
      </div>
    </div>
  </div>
  <div class="slider">
    <h2>slide</h2>
  </div>
  <div class="slider">
    <h2>slide</h2>
  </div>
  <div class="slider">
    <h2>slide</h2>
  </div>
  <div class="slider">
    <h2>slide</h2>
  </div>
</div>
