<div class="container-slider">
<!-- Home Page -->
  <div class="slider">
    <div class="first-title">
      <h1>DÉVELOPPEUSE</h1>
    </div>
    <div class="second-title">
      <H1>WEB FULLSTACK</H1>
    </div>
    <div class="name">
      <p>Lydia Soula</p>
    </div>
  </div>
<!-- Pourquoi moi ?  -->
  <div class="slider">
    <div class="slider-two-title">
      <h1>Pourquoi me faire confiance ?</h1>
    </div>
    <div class="paragraphe-style">
      <div class="row">
        <h5>1</h5>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa aut minima eum recusandae eos porro unde repellat nisi. Consequuntur ab excepturi quidem nostrum accusamus minima accusantium exercitationem sapiente reiciendis voluptatum?</p>
      </div>
      <div class="row">
        <h5>2</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda iste labore nemo! Pariatur suscipit reiciendis, quaerat fugit, obcaecati ut quae dolorum ad modi natus veritatis aut reprehenderit dolor nulla nisi.</p>
      </div>
      <div class="row">
        <h5>3</h5>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident a quo voluptatibus necessitatibus ducimus? Ducimus praesentium delectus, vel ipsum aut, nam corrupti commodi earum, saepe ea neque repudiandae nihil a!</p>
      </div>
    </div>
  </div>
<!-- Mes réalisations  -->
  <div class="slider">
  </div>
<!-- A propos de moi  -->
  <div class="slider">
    <h2>slide</h2>
  </div>
<!-- Contact  -->
  <div class="slider">
    <h2>slide</h2>
  </div>

</div>
